body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://www.primerahora.com/resizer/CwODjM3f2ajT2DIK70oRZMrwwwA=/arc-anglerfish-arc2-prod-gfrmedia/public/F5APC23MRNDAJCJX7RLF3SJJSI.jpg') no-repeat center center fixed;
    background-size: cover;
  }
  
  .consult-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    width: 400px;
  }
  
  .logout-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #dc3545;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .logout-button:hover {
    background-color: #c82333;
  }
  
  .consult-form h2 {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
  }
  
  .form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }
  
  .form-group select,
  .form-group input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #333;
    border-radius: 5px;
  }
  
  .calculate-button {
    background-color: #28a745;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
  }
  
  .calculate-button:hover {
    background-color: #218838;
  }
  
  /* Estilo personalizado para Consult */
.input-field {
  display: block;
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #333;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Estilo para los lugares seleccionados */
.selected-places {
  margin-top: 20px;
}

.selected-places ul {
  list-style-type: none;
  padding: 0;
}

.selected-places li {
  display: inline-block;
  background-color: white;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 14px;
}

.selected-places button {
  background-color: transparent;
  border: none;
  color: red;
  font-weight: bold;
  cursor: pointer;
  margin-left: 10px;
}

.selected-places button:hover {
  color: darkred;
}

/* Botón de submit */
.submit-button {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:disabled {
  background-color: gray;
}

.error-message {
  color: red;
  margin-top: 10px;
}

/* Estilos para el contenedor del interruptor */
.react-switch-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; /* Asegura que ocupe todo el ancho del contenedor */
  margin-bottom: 20px;
  text-align: center;
}

/* Estilos para la etiqueta del interruptor */
.react-switch-container label {
  font-size: 18px;
  margin-bottom: 10px;
}

/* Estilos para el texto informativo */
.react-switch-container p {
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
}

/* El siguiente código es específico para el estilo de los interruptores de react-switch */
.react-switch-handle {
  background-color: white !important; /* Asegura que el círculo del interruptor tenga el color correcto */
  border-radius: 50% !important;
  box-shadow: none !important;
}

.react-switch-slider {
  border-radius: 50px !important;
}

/* Estilo para la etiqueta de Hora Inicial */
label[for="startPoint"], label[for="endPoint"], label[for="placeOfInterest"]  {
  color: black;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

